In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import LongType,DateType,StringType
from pyspark.sql.types import StructField, StructType, BooleanType, ArrayType, IntegerType, DoubleType, FloatType
from delta import *
from delta.tables import *
from hdfs import InsecureClient
from os import PathLike
import pandas as teste
from pyspark.sql.functions import *
from pyspark.sql.functions import max as sparkMax
# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/project/uc3/silver/warehouse'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration Porject") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [ ]:
pip install delta-spark==1.0.0

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./uc3/2009.csv"
to_path = "/project/uc3/bronze/datasets/2009.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./uc3/2010.csv"
to_path = "/project/uc3/bronze/datasets/2010.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

#client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./uc3/2011.csv"
to_path = "/project/uc3/bronze/datasets/2011.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./uc3/2012.csv"
to_path = "/project/uc3/bronze/datasets/2012.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./uc3/2013.csv"
to_path = "/project/uc3/bronze/datasets/2013.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./uc3/2014.csv"
to_path = "/project/uc3/bronze/datasets/2014.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./uc3/2015.csv"
to_path = "/project/uc3/bronze/datasets/2015.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./uc3/2016.csv"
to_path = "/project/uc3/bronze/datasets/2016.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./uc3/2017.csv"
to_path = "/project/uc3/bronze/datasets/2017.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./uc3/2018.csv"
to_path = "/project/uc3/bronze/datasets/2018.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./Accidents.csv"
to_path = "/project/uc3/bronze/datasetsDiogo/Accidents.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
#EXEMPLO PARA FAZER UPLOAD DOS DATASETS

client = InsecureClient("http://hdfs-nn:9870", user="anonymous")

from_path = "./Casualties.csv"
to_path = "/project/uc3/bronze/datasetsMaria/Casualties.csv"


client.delete(to_path)

client.upload(to_path, from_path)

In [ ]:
spark.sql(
"""
SHOW DATABASES
"""
).show()

In [ ]:
#drop table 
spark.sql(
    """
    DROP TABLE IF EXISTS bronze.severity_deltalake
    
    """
)

In [ ]:
#drop table 
spark.sql(
    """
    DROP DATABASE IF EXISTS bronze CASCADE
    
    """
)

In [ ]:
spark.sql("""CREATE DATABASE bronze LOCATION 'hdfs://hdfs-nn:9000/project/uc3/bronze/warehouse/bronze.db' """)

In [ ]:
#creation of table (all datasets )
spark.sql(
    """
    CREATE EXTERNAL TABLE bronze.severity_deltalake (
        
    Reference_Number STRING,
    Easting STRING,
    Northing STRING,
    Number_of_Vehicles STRING,
    Accident_Date STRING,
    Time_24hr STRING,
    1st_Road_Class STRING,
    Road_Surface STRING,
    Lighting_Conditions STRING,
    Weather_Conditions STRING,
    Casualty_Class STRING,
    Casualty_Severity STRING,
    Sex_of_Casualty STRING ,
    Age_of_Casualty STRING ,
    Type_of_Vehicle STRING
    
    )
    
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/project/uc3/bronze/warehouse/bronze.db/severity_deltalake/'
    """
)

In [ ]:
#show tables from severity database
spark.sql(
    """
    SHOW TABLES FROM bronze
    """
).show()

In [ ]:
#check data from table (check 1)
spark.sql(
    """
    SELECT *
    FROM bronze.severity_deltalake
    """
).show()

In [ ]:
#check data from table (check 2)
spark.sql(
    """
    SELECT *
    FROM bronze.severity_deltalake
    """
).toPandas()

In [ ]:
#now lets extract and transform data

In [ ]:
#save data from all datasets into severity_df
severity_df = (spark.read.format('csv')
           .option('header', 'True')
           .option('delimiter', ";")
           .option("inferSchema", "true")
           .load('hdfs://hdfs-nn:9000/project/uc3/bronze/datasets/'))

In [ ]:
#check data
severity_df.printSchema()
severity_df.show()

In [ ]:
#transform n1
severity_final = (severity_df
                .distinct()
                .withColumn('Number_of_Vehicles', severity_df['Number_of_Vehicles'].cast('int'))
                .withColumn('Age_of_Casualty', severity_df['Age_of_Casualty'].cast('int'))
                .withColumnRenamed('Casualty_Class', 'Victim_class')
                .withColumnRenamed('Casualty_Severity','Victim_severity')
                .withColumnRenamed('Sex_of_Casualty','Sex_of_victim')
                .withColumnRenamed('Age_of_Casualty','Age_of_victim')
                .withColumnRenamed('Reference_Number','Id')
                .withColumnRenamed('Time_24hr','Time')
                .drop('Easting','Northing','1st_Road_Class','Number_of-Vehicles')
           )
#severity_final.show()
severity_final.printSchema()
severity_final.toPandas()

In [ ]:
#save to ease the process
severity_final\
    .write\
    .mode("overwrite")\
    .format("delta")\
    .option ("overwriteSchema", "true")\
    .save("hdfs://hdfs-nn:9000/project/uc3/bronze/warehouse/bronze.db/severity_deltalake/")

In [ ]:
#transform n2
severity_final = (severity_final
                .replace('2', 'Female', 'Sex_of_Victim')
                .replace('1', 'Male', 'Sex_of_Victim')
                    
                .replace('1', 'Fatal', 'Victim_severity')
                .replace('2', 'Serious', 'Victim_severity')
                .replace('3', 'Slight', 'Victim_severity')
                    
                .replace('1', 'Driver/Rider', 'Victim_class')
                .replace('2', 'Vehicle/Pillion Passenger', 'Victim_class')
                .replace('3', 'Passenger', 'Victim_class')
                   )

severity_final.toPandas()

In [ ]:
#transform n2
severity_final = (severity_final
                .replace('1', 'Daylight: street lights present', 'Lighting_Conditions')
                .replace('2', 'Daylight: no street lighting', 'Lighting_Conditions')
                .replace('3', 'Daylight: street lighting unknown', 'Lighting_Conditions')
                .replace('4', 'Darkness: street lights present and lit', 'Lighting_Conditions')
                .replace('5', 'Darkness: street lights present but unlit', 'Lighting_Conditions')      
                .replace('6', 'Darkness: no street lighting', 'Lighting_Conditions')
                .replace('7', 'Darkness: street lighting unknow', 'Lighting_Conditions')
                .replace('-1', 'Data missing or out of range', 'Lighting_Conditions') 
                
                .replace('1', 'Dry', 'Road_Surface')
                .replace('2', 'Wet / Damp', 'Road_Surface')
                .replace('3', 'Snow', 'Road_Surface')
                .replace('4', 'Frost / Ice', 'Road_Surface')
                .replace('5', 'Flood (surface water over 3cm deep)', 'Road_Surface')      
        
                   )

severity_final.toPandas()

In [ ]:
#save to ease the process
severity_final\
    .write\
    .mode("overwrite")\
    .format("delta")\
    .option ("overwriteSchema", "true")\
    .save("hdfs://hdfs-nn:9000/project/uc3/bronze/warehouse/bronze.db/severity_deltalake/")

In [ ]:
severity_final_1 = spark.read.format("delta").load("hdfs://hdfs-nn:9000/project/uc3/bronze/warehouse/bronze.db/severity_deltalake/")
severity_final_1.toPandas()

In [ ]:
#transform n3
severity_final_1 = (severity_final_1                  
                .replace('1', 'Fine without high winds', 'Weather_Conditions')
                .replace('2', 'Raining without high winds', 'Weather_Conditions')
                .replace('3', 'Snowing without high winds', 'Weather_Conditions')
                .replace('4', 'Fine with high winds', 'Weather_Conditions')
                .replace('5', 'Raining with high winds', 'Weather_Conditions')      
                .replace('6', 'Snowing with high winds', 'Weather_Conditions')
                .replace('7', 'Fog or mist', 'Weather_Conditions')
                .replace('8', 'Other', 'Weather_Conditions')
                .replace('9', 'Unknown', 'Weather_Conditions')
                .replace('-1', 'Data missing or out of range', 'Weather_Conditions')
                   )
severity_final_1.toPandas()

In [ ]:
#transform n4
severity_final_1 = (severity_final_1                    
                .replace('1', 'Pedal Cycle', 'Type_of_Vehicle')
                .replace('2', 'M/cycle 50cc and under', 'Type_of_Vehicle')
                .replace('3', 'Motorcycle over 50cc and up to 125cc', 'Type_of_Vehicle')
                .replace('4', 'Motorcycle over 125cc and up to 500cc', 'Type_of_Vehicle')
                .replace('5', 'Motorcycle over 500cc', 'Type_of_Vehicle')      
                .replace('6', '[Not used]', 'Type_of_Vehicle')
                .replace('7', '[Not used]', 'Type_of_Vehicle')
                .replace('8', 'Taxi/Private hire car',  'Type_of_Vehicle')
                .replace('9', 'Car', 'Type_of_Vehicle')
                .replace('10', 'Minibus (8 â€“ 16 passenger seats)', 'Type_of_Vehicle')
                .replace('11', 'Bus or coach (17 or more passenger seats)', 'Type_of_Vehicle')
                   )
severity_final_1.toPandas()

In [ ]:
#save to ease the process
severity_final_1\
    .write\
    .mode("overwrite")\
    .format("delta")\
    .option ("overwriteSchema", "true")\
    .save("hdfs://hdfs-nn:9000/project/uc3/bronze/warehouse/bronze.db/severity_deltalake/")

In [ ]:
severity_final_1_1 = spark.read.format("delta").load("hdfs://hdfs-nn:9000/project/uc3/bronze/warehouse/bronze.db/severity_deltalake/")
severity_final_1_1.toPandas()

In [ ]:
#transform n5
severity_final_1_1 = (severity_final_1_1                    
                .replace('12', '[Not used]', 'Type_of_Vehicle')
                .replace('13', '[Not used]', 'Type_of_Vehicle')
                .replace('14', 'Other motor vehicle', 'Type_of_Vehicle')      
                .replace('15', 'Other non-motor vehicle', 'Type_of_Vehicle')
                .replace('16', 'Ridden horse', 'Type_of_Vehicle')
                .replace('17', 'Agricultural vehicle (includes diggers etc.)', 'Type_of_Vehicle')
                .replace('18', 'Tram / Light rail', 'Type_of_Vehicle')
                .replace('19', 'Goods vehicle 3.5 tonnes mgw and under', 'Type_of_Vehicle')
                .replace('20', 'Goods vehicle over 3.5 tonnes and under 7.5 tonnes', 'Type_of_Vehicle')      
                .replace('21', 'Goods vehicle 7.5 tonnes mgw and over', 'Type_of_Vehicle')
                .replace('22', 'Mobility Scooter', 'Type_of_Vehicle')
                .replace('90', 'Other Vehicle', 'Type_of_Vehicle')
                .replace('97', 'Motorcycle - Unknown CC', 'Type_of_Vehicle')
                   )

In [ ]:
severity_final_1_1\
    .write\
    .mode("overwrite")\
    .format("delta")\
    .option ("overwriteSchema", "true")\
    .save("hdfs://hdfs-nn:9000/project/uc3/bronze/warehouse/bronze.db/severity_deltalake/")

In [ ]:
#check if everything is ok 
severity_final_1_1.toPandas()

In [ ]:
#now lets load this into a Silver Table

In [ ]:
severity_silver_df = spark.read.format("delta").load("hdfs://hdfs-nn:9000/project/uc3/bronze/warehouse/bronze.db/severity_deltalake/")

In [ ]:
#criar uma view,chamada severity_silver_view, dos dados que foram guardados no bronze 
severity_silver_df.createOrReplaceTempView('silver_view')

#criar um parquet em caso de necessidade
severity_silver_df.repartition(2).write.mode('overwrite').save('hdfs://hdfs-nn:9000/project/uc3/bronze/warehouse/severity_final.parquet')

In [ ]:
spark.sql(
    """
    DROP TABLE IF EXISTS silver.severity_silver_deltalake
    """
)

In [ ]:
spark.sql(
    """
    DROP DATABASE IF EXISTS silver CASCADE
    """
)

In [ ]:
#create the database for silver 
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS silver LOCATION 'hdfs://hdfs-nn:9000/project/uc3/silver/warehouse/silver.db/'
    """
)

In [ ]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

In [ ]:
spark.sql(
    """
    SHOW TABLES FROM silver
    """
).show()

In [ ]:
#create sctructure for silver table
spark.sql(
    """
    CREATE EXTERNAL TABLE silver.severity_silver_deltalake (
    
          Id STRING,
          Number_of_Vehicles INTEGER,
          Accident_Date STRING,
          Time STRING,
          Road_Surface STRING,
          Lighting_Conditions STRING,
          Weather_Conditions STRING,
          Victim_class STRING,
          Sex_of_victim STRING,
          Age_of_victim INTEGER,
          Type_of_Vehicle STRING

    )
    USING DELTA
    PARTITIONED BY (
         Victim_severity STRING
    )
    
    LOCATION 'hdfs://hdfs-nn:9000/project/uc3/silver/warehouse/silver.db/severity_silver_deltalake/'
    """
)

In [ ]:
spark.sql("""
     SELECT * FROM silver_view
    """).toPandas()

In [ ]:
spark.sql("""
     DESCRIBE FORMATTED silver_view
    """).toPandas()

In [ ]:
#insert data saved in the view into the table just created
spark.sql(
    """
    INSERT INTO silver.severity_silver_deltalake
    SELECT  Id ,
          Number_of_Vehicles,
          Accident_Date,
          Time,
          Road_Surface,
          Lighting_Conditions,
          Weather_Conditions,
          Victim_class,
          Sex_of_victim,
          Age_of_victim ,
          Type_of_Vehicle,
          Victim_severity
          
          FROM silver_view
    """
)

In [ ]:
spark.sql(
    """
    SELECT *
    FROM silver.severity_silver_deltalake
    """
).toPandas()

In [ ]:
#test if everything is ok
teste = spark.read.format("delta").load("hdfs://hdfs-nn:9000/project/uc3/silver/warehouse/silver.db/severity_silver_deltalake")

In [ ]:
teste.toPandas()

In [ ]:
# create sales_per_country table in gold
spark.sql(
    """
    DROP TABLE IF EXISTS gold.gold_deltalake
    """
)

In [ ]:
spark.sql(
    """
    DROP DATABASE IF EXISTS gold CASCADE
    """
)

In [ ]:
# create gold database
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS gold LOCATION 'hdfs://hdfs-nn:9000/project/uc3/gold/warehouse'
    """
)

In [ ]:
spark.sql(
    """
    CREATE EXTERNAL TABLE gold.gold_deltalake(
        
        Weather_conditions STRING,
        Lighting_conditions STRING,
        Road_surface STRING,
        Victim_severity STRING,
        Accident_Date STRING,
        Type_of_vehicle STRING,
        Number_of_Victims INTEGER

)
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/project/uc3/gold/warehouse/gold.db/gold_deltalake/'
    """
)

In [ ]:
from pyspark.sql.functions import substring, avg, sum

# read data from the silver tables
severity_df = spark.table("silver.severity_silver_deltalake")

severity_df = (severity_df
                .drop('Time','number_of_vehicles','Sex_of_victim','Age_of_victim'))




severity_df.printSchema()
severity_df.toPandas()

In [ ]:
# Aggregate
gold_deltalake = severity_df \
    .groupBy("Weather_conditions","Lighting_conditions","Road_surface","Victim_severity","Accident_Date","Type_of_vehicle")\
    .agg(
        count("Id").cast('INTEGER').alias("Number_of_Victims")
        )\
    .orderBy("Accident_Date")

In [ ]:
gold_deltalake.toPandas()

In [ ]:
# write to delta table
gold_deltalake \
    .write \
    .format("delta") \
    .mode("overwrite") \
    .option("mergeSchema", "true")\
    .save("hdfs://hdfs-nn:9000/project/uc3/gold/warehouse/gold.db/gold_deltalake")

In [ ]:
spark.stop()